{
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single", "avoid-escape"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "never"],
    "no-unexpected-multiline": [2],
    "eqeqeq": [2, "smart"],
    "no-unreachable": 2,
    "no-console": [2, {"allow": ["error"]} ],
    "no-unused-expressions": [2, {"allowShortCircuit": true}],
    "comma-dangle": [2, "always-multiline"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "modules": true,
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "plugins": []
}
